.mis-datos__general {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  block-size: 480px;
  /* gap: 32px; */

  @media (width <= 993px) {
    block-size: 800px;
    justify-content: space-around;
  }
}

.mis-datos__titulo {
  color: white;
  margin: 0;
  margin-block-start: 32px;
  inline-size: 66%;
  max-block-size: 156px;
  font-size: 5.2rem;
  line-height: 1.2;

  @media (width <= 993px) {
    max-block-size: 200px;
  }
}

.mis-datos__texto {
  color: white;
  margin: 32px 0;
  inline-size: 66%;
  font-size: 2.2rem;
  line-height: 1.7;
  max-block-size: 240px;

  @media (width <= 993px) {
    max-block-size: 300px;
  }
}

.mis-redes {
  color: white;
  inline-size: 66%;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 32px;
}

.mis-redes__item {
  list-style-type: none;

  & a {
    background-image: url("/src/assets/mis_datos/Vector.png");
    background-repeat: no-repeat;
    background-position: center right;
    text-decoration: none;
    font-weight: bold;
    inline-size: fit-content;
    padding-right: 16px;
    color: white;
    transition:
      color 0.15s linear,
      font-size 0.15s linear,
      font-weight 0.15s linear,
      text-decoration 0.15s linear;

    &:hover {
      color: lightslategrey;
      font-size: 1.7rem;
      font-weight: bold;
      text-decoration: underline;
    }
  }
}

.mis-datos__imagen {
  max-inline-size: 300px;

  @media (width <= 993px) {
    max-inline-size: 260px;
  }
}

.mis-datos__sobre-mi {
  background-color: #bbbbbb;
  padding-block: 32px;
  margin-block: 64px 32px;
}

.mis-datos__sobre-mi__titulo {
  font-size: 3.2rem;
  margin-block: 0;
}

.mis-datos__sobre-mi__texto {
  margin-block-start: 16px;
  line-height: 1.8;
}

/* Para tablet */
@media (width <= 768px) {
  .mis-datos__general {
    block-size: 350px;

    @media (width <= 644px) {
      block-size: 490px;
    }

    @media (width <= 423px) {
      block-size: 580px;
      justify-content: flex-start;
      gap: 15px;
    }
  }

  .mis-datos__titulo {
    font-size: 2.2rem;
    margin: 0;

    @media (width <= 424px) {
      inline-size: 100%;
      order: -2;
      margin-block-start: 16px;
    }
  }

  .mis-datos__texto,
  a {
    font-size: 1.6rem;
    margin-block: 16px;

    @media (width <= 424px) {
      inline-size: 100%;
      margin: 0;
    }
  }

  .mis-datos__imagen {
    max-inline-size: 146px;

    @media (width <= 424px) {
      inline-size: 100%;
      align-self: center;
      order: -1;
    }
  }

  .mis-redes {
    /* overflow-x: scroll; */
    @media (width <= 644px) {
      block-size: 75px;
      display: flex;
      flex-flow: wrap;
    }

    @media (width <= 424px) {
      inline-size: 100%;
      block-size: 74px;
    }
  }
}

@media (width <= 360px) {
  .mis-datos__general {
    block-size: 550px;
  }

  .mis-datos__texto,
  a {
    font-size: 1.4rem;
  }

  .mis-redes {
    flex-flow: nowrap;
    overflow-x: scroll;
    block-size: 38px;
    align-items: center;
  }

  .mis-datos__sobre-mi {
    margin-block: 16px;
  }

  .mis-datos__sobre-mi__titulo {
    font-size: 2.2rem;
  }

  .mis-datos__sobre-mi__texto {
    font-size: 1.4rem;
  }
}
