---
import BaseLayout from "@src/layouts/BaseLayout.astro";
import Menu from "@src/components/Menu.astro";
import CardSkill from "@src/components/CardSkill.astro";
import CardHobbie from "@src/components/CardHobbie.astro";

import botonLista from "../assets/header/lista.png";
import perfil from "../assets/mis_datos/perfil.png";
import logoHtml from "../assets/skills/Logo_html.svg";
import logoCss from "../assets/skills/Logo_css.svg";
import logoJs from "../assets/skills/Logo_js.svg";
import logoTs from "../assets/skills/Logo_ts.svg";
import orquesta from "../assets/hobbies/orquesta1.jpeg";
import posterAkira from "../assets/hobbies/Akira.jpg";

import "@src/styles/header.css"
import "@src/styles/main.css"
import "@src/styles/skills.css"
import "@src/styles/hobbies.css"
import "@src/styles/formacion.css"
---

<BaseLayout
    tituloPagina="Principal"
>
    <header>
    <nav class:list={["menu", "centrar"]}>
        <button class="menu__boton">Contáctame</button>

        <Menu
            opciones={[
              {texto: "Sobre mi", ulr: "#"},
              {texto: "Skills", ulr: "#"},
              {texto: "Hobbies", ulr: "#"},
              {texto: "Formación", ulr: "#"},
              {texto: "Proyectos", ulr: "#"}
            ]}
        />

        <img
            class="menu__lista"
            src={botonLista.src}
            alt="menú hamburgesa"
        />
    </nav>
    </header>

    <main>
        <article class:list={["mis-datos"]}>
            <section class:list={["mis-datos__general", "centrar"]}>
                <h2 class="mis-datos__titulo">
                Hola, me llamo Sebastian y construyo páginas web
                </h2>
                <p class="mis-datos__texto">
                Me formé en SENATI (Servio Nacional de Adiestramiento en
                Trabajo Indutrial) en la carrera técnica de Soporte y
                Mantenimeinto de Equipos de Computación y actualmente
                estoy participando del proyecto Oracle ONE en Alura
                Latam para empezar mi carrer como un desarrollador
                Front-End
                </p>
                <ul class="mis-redes">
                    <li class="mis-redes__item">
                        <a href="#">Github</a>
                    </li>
                    <li class="mis-redes__item">
                        <a href="#">Linkedin</a>
                    </li>
                    <li class="mis-redes__item">
                        <a href="#">Instagran</a>
                        </li>
                    <li class="mis-redes__item">
                        <a href="#">Curriculun</a>
                        </li>
                </ul>
                <img
                    class="mis-datos__imagen"
                    src={perfil.src}
                    alt="Mi perfil"
                />
            </section>

            <section class:list={["mis-datos__sobre-mi"]}>
                <h3 class:list={["mis-datos__sobre-mi__titulo", "centrar"]}>
                    Sobre mi
                </h3>
                <p class:list={["mis-datos__sobre-mi__texto", "centrar"]}>
                    Soy una persona apasionda por la tecnología y curiosa
                    por entender su funcionamiento. Es por ello que siempre
                    busco conocimientos en cursos, redes o libros; lo que me
                    llevó a comprender aspectos básicos de diversos
                    lenguajes de programación como python, C++, javascript,
                    TapyScript; funcionamiento de las redes del internet, el
                    cableado estructurador de redes LAN y el uso de
                    electronica básica para proyectos con Arduino.
                </p>
                <p class:list={["mis-datos__sobre-mi__texto", "centrar"]}>
                    Esa curiosidad por el mundo de las tecnologías de la
                    información me llevó a estudiar en SENATI un centro de
                    educación superior técnica de Perú, en la carrera de
                    Soporte y Mantenimiento de equipos de computación.
                    Durante esa parte de mi vida tuve la suerte de ser
                    admitido para participar en el proyecto de Oracle One en
                    Alura Latam; en el cual me encuentro actualmente para
                    desarrollarme como un programador Fornt-End.
                </p>
            </section>
        </article>

        <article class:list={["skills"]}>
            <h2 class:list={["skills__titulo", "centrar"]}>Skills</h2>
            <section class:list={["skills__cards", "centrar"]}>
                <CardSkill
                    titulo="HTML"
                    imagen={{
                      src: logoHtml.src,
                      alt: "Logo de html"
                    }}
                />

                <CardSkill
                    titulo="CSS"
                    imagen={{
                      src: logoCss.src,
                      alt: "Logo de css"
                    }}
                />

                <CardSkill
                    titulo="JavaScript"
                    imagen={{
                      src: logoJs.src,
                      alt: "Logo de javascript"
                    }}
                />

                <CardSkill
                    titulo="TypeScript"
                    imagen={{
                      src: logoTs.src,
                      alt: "Logo de typescript"
                    }}
                />
            </section>
        </article>

        <article class:list={["hobbies"]}>
            <h2 class:list={["hobbies__titulo", "centrar"]}>Hobbies</h2>
            <section class:list={["hobbies__cards", "centrar"]}>
                <CardHobbie
                    titulo="Música"
                    texto={`
                    Soy un apasionado de la música y tengo la suerte de
                    formar parte de una pequeña orquesta en Chancay. Mi
                    instrumento principal es el contrabajo, aunque también
                    disfruto tocando la guitarra. Gracias a la orquesta de
                    Chancay he podido desarrollar mis habilidades y explorar
                    diferentes géneros musicales. El contrabajo me brinda la
                    oportunidad de crear una base sólida para la música,
                    mientras que la guitarra me permite expresar mi lado más
                    melódico. Disfruto del desafío de aprender nuevas piezas
                    y de la satisfacción de dominar un instrumento.
                    `}
                    img={{
                      src: orquesta.src,
                      alt: "Imagen de la orquesta de chancay"
                    }}
                />
                <CardHobbie
                    titulo="Pelis y Series"
                    texto={`Soy un apasionado del entretenimiento audiovisual. Me
                    encanta sumergirme en historias de ciencia ficción y
                    misterio, ya sea en series, películas o anime. Disfruto
                    de tramas intrigantes, personajes complejos y mundos
                    imaginarios que me transportan a otras realidades. Desde
                    los clásicos del cine hasta las últimas novedades en
                    streaming, siempre estoy buscando nuevas historias que
                    me sorprendan y emocionen.`}
                    img={{
                      src: posterAkira.src,
                      alt: "Cartel de la película Akira."
                    }}
                />
            </section>
        </article>

        <article class:list={["formacion"]}>
            <h2 class:list={["formacion__titulo", "centrar"]}>Formación</h2>
            <section class:list={["formacion__cards", "centrar"]}>
            </section>
        </article>

    </main>
</BaseLayout>
