---
interface Img {
  src: string;
  alt: string
}
interface Props {
    titulo: string;
    imagen: Img
}

const {titulo, imagen} = Astro.props;
---
<div class:list={["card-skill"]}>
    <h3 class:list={["card-skill__titulo"]}>{titulo}</h3>
    <img class:list={["card-skill__img"]} src={imagen.src} alt={imagen.alt}>
</div>

<script>
  const titulos = document.querySelectorAll(
    ".card-skill__titulo",
  ) as NodeListOf<HTMLHeadElement>;

  Array.from(titulos).map(titulo => {
    const textoTitulo = titulo.textContent as string;

    if (textoTitulo.length >= 5) {
      // titulo.classList.add(".card-skill__titulo--fuente-media")
      titulo.style.fontSize = "2.5rem"
    }
  });

</script>


<style>
    .card-skill {
        --ancho-card: 250px;

        /* background-color: white; */
        background-image: linear-gradient(45deg,white, #2a7ae4);
        border-radius: 15px;
        inline-size: var(--ancho-card);
        aspect-ratio: 2 / 1;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .card-skill__titulo {
        font-size: 3.2rem;
    }

    .card-skill__img {
        inline-size: calc(0.4 * var(--ancho-card));
    }

</style>
