---
interface Img {
  src: string;
  alt: string;
}
interface Props {
    titulo: string;
    texto: string
    img: Img
}

const {titulo, texto, img} = Astro.props;
---

<div class:list={["card-hobbie"]}>
    <h3 class:list={["card-hobbie__titulo"]}
        >{titulo}</h3>
    <img
        class:list={["card-hobbie__img"]}
        src={img.src}
        alt={img.alt}
    >
    <p class:list={["card-hobbie__texto"]}
       >{texto}</p>
</div>

<style>
    .card-hobbie {
        block-size: 375px;
        display: flex;
        flex-flow: column wrap;

        @media (width <= 768px) {
        display: block;
        block-size: fit-content;
        }
    }

    .card-hobbie__titulo {
        font-size: 2.4rem;
        inline-size: fit-content;

        @media (width <= 768px) {
        font-size: 2rem;
        }
    }

    .card-hobbie__img {
        inline-size: 44%;

        @media (width <= 768px) {
        float: left;
        margin-inline-end: 10px;
        }

        @media (width <= 360px) {
        float: none;
        inline-size: 100%;
        }
    }

    .card-hobbie__texto {
        inline-size: 60%;
        margin-block-start: 81px;
        line-height: 1.8;

        @media (width <= 768px) {
        inline-size: auto;
        margin: 0;
        }
    }

</style>
