<footer>
    <p>
        Desarrollado por <b>Se-Basstian</b>
    </p>
</footer>

<style>
    footer {
        inline-size: 100%;
        block-size: 96px;
        display: flex;
        justify-content: center;
        align-items: center;

        background-image: linear-gradient(
            90deg,
            rgb(48, 155, 244) 5%,
            rgb(147, 89, 226) 70%
        );
    }

    p {
        inline-size: fit-content;
        block-size: 32px;
        font-size: 2rem;
        color: white;
    }
</style>
