---
import Input from "./Input.astro";
import TextArea from "./TextArea.astro";
import imgTelefono from "../images/contacto/Telefono.png";
---

<article>
    <img src={imgTelefono.src} alt="Un telfono antigüo">
    <section>

        <a href="/">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                height="20px" viewBox="0 -960 960 960"
                width="20px" fill="#FFFFFF"
            ><path d="m291-240-51-51 189-189-189-189 51-51 189 189 189-189 51 51-189 189 189 189-51 51-189-189-189 189Z"/>
            </svg>
        </a>
        <h2>Contacto</h2>
        <p>
        ¿Quieres contactarme?<br>
        Completa el siguiente formulario y me podré en contacto con usted lo antes posibles.
        </p>

        <form action="https://formsubmit.co/3c18969dbdd5a0ba800ca01e3d77048d" method="POST">
            <Input idName="Nombre" />
            <Input idName="Correo" />
            <Input idName="Asunto" />
            <TextArea idName="Mensaje"/>

            <button
                type="submit"
            >Enviar mensaje
            </button>
        </form>
    </section>
</article>

<style>
    article {
        inline-size: 1030px;
        block-size: 660px;
        padding: 20px;
        margin-inline: auto;
        position: relative;

        background-image: linear-gradient(
            90deg,
            rgb(48, 155, 244) 5%,
            rgb(147, 89, 226) 70%
        );

        display: flex;

        @media (width <= 1090px) {
            inline-size: 800px;
        }

        @media (width <= 850px) {
            inline-size: calc(95% - 30px);
            padding: 15px;
            block-size: 615px;
        }
    }

    a {
        position: absolute;
        top: 20px;
        right: 20px;
    }

    svg {
        inline-size: 45px;
        block-size: 45px;

        &:hover {
            fill: red;
        }

        @media (width <= 370px) {
            inline-size: 20px;
            block-size: 20px;
        }
    }

    img {
        inline-size: 50%;

        @media (width <= 850px) {
            display: none;
        }
    }

    section {
        inline-size: calc(50% - 30px);
        block-size: calc(100% 30px);

       padding: 15px;

       @media (width <= 850px) {
           inline-size: calc(100% - 10px);
           padding: 5px;
       }
    }

    h2, p {
        color: white;
    }

    h2 {
        font-size: 3.2rem;

        @media (width <= 370px) {
            font-size: 2.8rem;
        }
    }

    p {
        font-size: 1.9rem;
        line-height: 1.3;

        @media (width <= 370px) {
            font-size: 1.5rem;
        }
    }

    form {
        margin-block-start: 25px;
        inline-size: 100%;

        display: flex;
        flex-flow: column;
        gap: 30px;
    }

    button {
        inline-size: 144px;
        block-size: 51px;
        background-color: deepskyblue;
        border: none;

        color: white;
        font-size: 1.9rem;

        @media (width <= 370px) {
            inline-size: 120px;
            block-size: 45px;
            font-size: 1.6rem;
        }
    }
</style>
