
<form
    class="formulario"
    action="https://formsubmit.co/p.sebastian.23.11.99@gmail.com"
    method="post"
>
    <h2 class="formulario__titulo">Contacto</h2>
    <p class="formulario__texto">
        ¿Quieres contactarme?
        <br />
        Completa el siguiente formulario y me pondré en
        contacto con usted lo antes posible.
    </p>

    <input
        class="formulario__input formulario__input--focus"
        id="nombre"
        type="text"
        name="nombre"
        required
    />
    <label
        class="formulario__label"
        for="nombre"
        >Nombre</label
    >
    <br /><br />

    <input
        class="formulario__input formulario__input--focus"
        id="correo"
        type="email"
        name="email"
        required
    />
    <label
        class="formulario__label"
        for="correo"
        >Correo</label
    >
    <br /><br />

    <input
        class="formulario__input formulario__input--focus"
        id="asunto"
        type="text"
        name="asunto"
        required
    />
    <label
        class="formulario__label"
        for="asunto"
        >Asunto</label
    >
    <br /><br />

    <textarea
        class="formulario__mensaje"
        name="mensaje"
        id="mensaje"
    ></textarea>
    <label
        class="formulario__label formulario__label--mensaje"
        for="mensaje"
        >Mensaje</label
    >
    <br /><br />
    <button
        class="formulario__boton"
        type="submit"
    >Enviar mensaje</button>
</form>

<script>
// Formulario
const inputs = document.querySelectorAll(
  ".formulario__input",
) as NodeListOf<HTMLInputElement>;

Array.from(inputs).map(
  (input) => {
    input.value = "";
  }
)

const textarea = document.querySelector(
  ".formulario__mensaje",
) as HTMLTextAreaElement;

textarea.value = "";

const formulario = document.querySelector(
  "form.formulario",
) as HTMLFormElement;

if (formulario instanceof HTMLElement) {
  const mantenerForma = (label: string, input: string) => {
    const labelNombre = formulario.querySelector(label) as
      HTMLLabelElement;
    const inputNombre = formulario.querySelector(input) as
      HTMLInputElement;

    if (labelNombre && inputNombre) {
      inputNombre.addEventListener(
        "blur",
        () => {
          if (inputNombre.value !== "") {
            inputNombre.classList.add("focus-input");
            labelNombre.classList.add("focus-label");
          } else {
            inputNombre.classList.remove("focus-input");
            labelNombre.classList.remove("focus-label");
          }
        }
      );
    }
  };

  const textArea = formulario.querySelector(
    "#mensaje"
  ) as HTMLTextAreaElement;
  const labelMensaje = formulario.querySelector(
    "[for=mensaje]",
  ) as HTMLLabelElement;

  if (textArea && labelMensaje) {
    textArea.addEventListener("blur", () => {
      if (textArea.value !== "") {
        textArea.classList.add("focus-textarea");
        labelMensaje.classList.add("focus-label-mensaje");
      } else {
        textArea.classList.remove("focus-textarea");
        labelMensaje.classList.remove("focus-label-mensaje");
      }
    });
  }

  mantenerForma("[for=nombre]", "#nombre");
  mantenerForma("[for=correo]", "#correo");
  mantenerForma("[for=asunto", "#asunto");
}

window.addEventListener(
  "resize",
  () => {
    if (window.innerWidth <= 475) {

      const placeHolder: Array<string> = [
        "Nombre", "Correo", "Asunto"
      ];

      Array.from(inputs).map(
        (input, idx) => {
          input.placeholder = placeHolder[idx];
        }
      )

      textarea.placeholder = "Mensaje";
    } else {
      Array.from(inputs).map(
        (input) => {
          input.placeholder = "";
        }
      )
      textarea.placeholder = "";
    }
  }
)
</script>

<style>
.formulario {
    inline-size: 480px;

    @media (width <= 475px) {
        inline-size: 80%;
    }
}

.formulario__titulo {
    margin-block: 0;

    @media (width <= 360px) {
        font-size: 2rem;
        max-inline-size: 360px;
    }
}

.formulario__texto {
    line-height: 1.7;
    inline-size: 400px;

    @media (width <= 768px) {
        margin-block: 8px;
    }

    @media (width <= 475px) {
        font-size: 1.4rem;
        inline-size: 80%;
    }
}

.formulario__label {
    inline-size: 75px;
    position: relative;
    top: 1px;
    left: -405px;
    z-index: 1;
    color: #a2a2a2;
    transition: top 0.3s ease-out;

    @media (width <= 360px) {
        top: -26px;
        left: 5px;
    }
}

.formulario__boton {
    inline-size: 144px;
    block-size: 51px;
    background-color: #2a7ae4;
    color: white;
    font-size: 1.6rem;
    border: none;
    transition: transform 0.2s linear background-color 0.4s linear;

    &:hover {
        transform: scale(1.12);
    }

    &:active {
        background-color: red;
    }
}

.formulario__label--mensaje {
    top: -125px;

    @media (width <= 475px) {
        top: -140px;
        left: 5px;
    }
}

.formulario__input {
    inline-size: 400px;
    block-size: 25px;
    font-size: 1.6rem;
    transition: transform 0.9s ease-out padding-block-start 0.9s ease-out;
    outline-color: transparent;
    border-color: transparent;
    border-block-end: 1px solid #bbb;
    border-radius: 5px;

    @media (width <= 475px) {
        inline-size: 250px;
    }
}

.formulario__mensaje {
    inline-size: 401px;
    font-size: 1.4rem;
    block-size: 133px;
    border-radius: 5px;
    margin-block-start: 10px;
    padding-block-start: 10px;
    padding-inline-start: 5px;
    border-radius: 5px;
    border: transparent;
    outline: transparent;
    outline: #bbb solid 1px;
    resize: none;
    font-family: "Noto Sans", sans-serif;

    &:focus {
        padding-block-start: 25px;
        transform: scaleY(1.24);
        outline-color: #2a7ae4;

        @media (width <= 475px) {
            padding-block-start: 0;
        }
    }

    &:focus + label {
        color: #2a7ae4;
        font-size: 1.3rem;
        top: -160px;
        left: -405px;
    }

    @media (width <= 475px) {
        inline-size: 250px;
    }

    @media (width <= 360px) {
        inline-size: 250px;

        & + label {
            top: -145px;
        }

        &:focus + label {
            font-size: 1.2rem;
            color: #2a7ae4;
            top: -180px;
            left: 5px;
        }
    }
}

.formulario__input--focus {
    &:focus {
        transform: scaleY(1.05);
        padding-block-start: 20px;
        padding-inline-start: 5px;
        border-block-end: 4px solid #2a7ae4;

        @media (width <= 475px) {
            padding-block-start: 0;
        }
    }

    &:focus + label {
        font-size: 1.2rem;
        color: #2a7ae4;
        top: -24px;

        @media (width <= 360px) {
            top: -50px;
        }
    }
}

.focus-input {
    transform: scaleY(1.05);
    padding-block-start: 20px;
    padding-inline-start: 5px;
    border-block-end: 4px solid #2a7ae4;

    @media (width <= 475px) {
        padding-block-start: 0;
    }
}

.focus-label {
    font-size: 1.2rem;
    color: #2a7ae4;
    top: -24px;
}

.focus-textarea {
    padding-block-start: 25px;
    transform: scaleY(1.24);
    outline-color: #2a7ae4;

    @media (width <= 475px) {
        padding-block-start: 0;
    }
}

.focus-label-mensaje {
    color: #2a7ae4;
    font-size: 1.3rem;
    top: -160px;
    left: -405px;
}

@media (width <= 475px) {
    .formulario__label {
        position: static;
        display: none;
    }
}

</style>
