---
import CardProyecto from "@src/components/CardProyecto.astro";

import imagenEncriptador from "@src/images/experiencia/Encriptador.png";
import imagenOrg from "@src/images/experiencia/Organizador.png";
---

<article id="proyectos">
    <h2>Mis Proyectos</h2>
    <section>
        <CardProyecto
            titulo="Encriptador de texto"
            descripcion={`
              Esta aplicación web permite a los usuarios encriptar
              y desencriptar texto de manera fácil y rápida. Es
              ideal para proteger mensajes o datos sensibles.
            `}
            repositorio="https://github.com/Se-Basstian/encriptador-de-texto"
            img={imagenEncriptador.src}
        />
        <CardProyecto
            titulo="Organizador"
            descripcion={`
              Un lugar donde puedes organizar a tus equipos como desees.
            `}
            repositorio="https://github.com/Se-Basstian/Org"
            demo="https://org-jet-three.vercel.app/"
            img={imagenOrg.src}
        />
    </section>
</article>

<style>
    article {
        max-inline-size: 1400px;
    }

    h2 {
        font-size: 4rem;
        inline-size: fit-content;
        block-size: 64px;
        margin-inline: auto;
        display: flex;
        align-items: center;

        @media (width <= 440px) {
            font-size: 3.2rem;
        }
    }

    section {
        inline-size: 100%;
        margin-block-start: 32px;

        display: flex;
        justify-content: space-evenly;
        flex-flow: wrap;
        gap: 16px;
    }
</style>
